# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/

# Environment
.env
.env.test
.env.local
.env.*.local
keys/
*.pem


# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Coverage
coverage/
.nyc_output/

# Prisma

# Docker
*.tar
